// Path: static/variables.scss
// base colours
$base-black: #000000;
$base-white: #ffffff;

//other colors
$accent-color: #0d0cfb;

$background: #000;
$color: #f5f5dc;

// screen sizes
$mobile: 768px;
$desktop: 1024px;
$large: 1536px;


body {
  background-color: $background;
  color: $color;
  font-family: 'Caveat', serif;
}

h1 {
  font-size: 4rem;
  font-family: 'Caveat', serif;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-family: 'Montserrat', serif;
}

a {
  color: $color;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $color;
  }
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  color: $color;
  background-color: $color; /* Optional: Set background color to match the line color */
  height: 1px; /* Set the height of the line */
  border: none; /* Remove default border */
}

// fonts
/* caveat-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.kaiser.fyi/caveat-v17-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* caveat-500 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.kaiser.fyi/caveat-v17-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* caveat-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.kaiser.fyi/caveat-v17-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* caveat-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.kaiser.fyi/caveat-v17-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.kaiser.fyi/montserrat-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}