// base colours
$base-black: #000000;
$base-white: #ffffff;

//other colors
$accent-color: #0d0cfb;

$background: #000;
$color: #f5f5dc;

// screen sizes
$mobile: 768px;
$desktop: 1024px;
$large: 1536px;
